.session {
    padding: .5em;
    border-radius: 2px;
    font-size: 14px;
    color: white;
    box-shadow:
      rgba(255,255,255,.6) 1px 1px 0,
      rgba(0,0,0,.3) 4px 4px 0;
}

.session-title,
.session-time,
.session-track,
.session-members-needed {
    display: block;
}

.session-title,
.time-slot {
    margin: 0;
    font-size: 1em;
}
.session-track,
.session-members-needed, .member {
    font-size: 0.75em;
}

.session-title a {
    color: #fff;
    text-decoration-style: dotted;

    &:hover {
        font-style: italic;
    }
    
    &:focus {
        outline: 2px dotted rgba(255,255,255,.8);
    }
}
.action {
    cursor: pointer;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid white;
    padding: 0 0.5em;
    margin: 0.5em 0;
    display: inline-block;
    
    &:hover {
        background: rgba(255, 255, 255, 0.75);
    }
}
.action.remove {
    &:hover {
        border: 1px solid red;
    }
}
.action.add {
    &:hover {
        border: 1px solid rgb(58, 143, 58);
    }
}